<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430276037891-ot23sf5b608q4b61ru6eub8tu8bqtrqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430276037891-ot23sf5b608q4b61ru6eub8tu8bqtrqj</string>
	<key>API_KEY</key>
	<string>AIzaSyD9DJXwvohR8-HHvc8-E3SLq8jkz3V6xPY</string>
	<key>GCM_SENDER_ID</key>
	<string>430276037891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robin.Do</string>
	<key>PROJECT_ID</key>
	<string>calod-36318</string>
	<key>STORAGE_BUCKET</key>
	<string>calod-36318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430276037891:ios:f04e89458727b5df1d6d36</string>
</dict>
</plist>